.page {
    position: absolute;
    top: 22vw;
    bottom: 15vw;
    background-color: rgb(248, 248, 248);
    border-radius: 50px 50px 0 0;
    padding: 2vw;
    width: 96vw;
    overflow: auto;
}
input {
    margin-top: 0vw;
    margin-right: 3vw;
    margin-left: 3vw;
    height: 8vw;
    width: 76vw;
    padding: 2vw;
    text-align: center;
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.774);
    border: solid #006bb3 0.2vw;
    border-radius: 10px;
    resize: vertical;
}
input:focus {
    border-radius: 0px;
    /* box-shadow: 0px 3px 7px #777777bc; */

}
.Valid_text_not_good {
    margin: 0;
}
.Valid_box_not_good {
    color: red
}
.Valid_text_good {
    margin: 0;
    
    
}
.Valid_box_good {
    color: green
}
.importBtn {
    border-radius: 50%;
    color: white;
    background-color: #006bb3;
    position: fixed;
    bottom: 20vw;
    left: 5vw;
    height: 10vw;
    width: 10vw;
    padding: 3vw;
    overflow: hidden;
    box-shadow: 0px 3px 7px #777777bc;
    
    
}
.importBtnImg {
    width: 100%;
}
.inputContainer{
    padding: 4vw;
    /* border: solid 1px red; */
    overflow: hidden;
    margin-top: 15vw;
    width: 90vw;
}
.mainImgs {
    width: 80%;
    margin: 10%;
    text-align: justify
}

.button {
    float: left;
    padding: 1vw;
    margin-left: 10vw;
    text-align: center;
    background-color: #006bb3;
    color: white;
    border-radius: 50%;
    font-size: 8vw;
    height: 12vw;
    width: 12vw;
    text-decoration: none;
    overflow: hidden;
}
.blank_list {
    background-color: #006bb3;
    height: 120px;
    width: 120px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    color: white;
    font: bold;
    margin: auto;
    margin-top: 100px
}
.pickerDiv {
    position: fixed;
    top: 45vw;
    margin: -5vw;
    width: 100%;
    display: none;
    justify-content: center;
    background-color: rgb(248, 248, 248);
}
.pickerBtn {
    position: fixed;
    bottom: 10vw;
    /* margin: vw; */
    width: 100%;
    justify-content: center;
}